  div#headerlogo > a > img#logo {
    background: url(//cs.sankakucomplex.com/logo.png) no-repeat;
    float: left;
    padding: 16px 0px 0px 20px;
  }

  div.spoiler > p > a  {
    color: #EEE;
  }

  div.spoiler > p:hover > a {
    color: #FF761C;
  }
