div#header ul#navbar li.lang-select {
    font-size: 90%;
    color: #e6e6e6;
    padding-right: 60px;
}

div#header ul#navbar li.lang-select .theme-button-light {
    position: absolute;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-dark {
    position: absolute;
    margin-left: 32px;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-selected {
    position: absolute;
    margin-top: 2px;
}

.theme-button-light {
  background-image:url(//cs.sankakucomplex.com/images/light.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 19px;
  width: 19px;
  margin-left: 10px;
  border: none;
}

.theme-button-dark {
  background-image:url(//cs.sankakucomplex.com/images/dark.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 19px;
  width: 19px;
  border: none;
}
