/* Add to Light CSS file (spoiler fix) */

  div.spoiler > p > a  {
    color: #EEE;
  }

  div.spoiler > p:hover > a {
    color: #FF761C;
  }
  
/* Modify in Dark CSS file (this part already exists, just find and add whats in the {} to it) */

  #advanced_search {
    margin-bottom: 0px;
  }
