/* Body elements */
body {
  font-family: Meiryo,Hiragino Kaku Gothic Pro W3,Arial,Helvetica Neue,sans-serif;
  font-size: 74%;
  padding: 0;
  margin: 0;
  background: white;
  min-width: 940px;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
  margin: 0;
  padding: 0;
}

logo {
  margin-left: 2em;
}

a:link {
  color: #FF761C;
  text-decoration: none;
  font-weight: bold;
}

.blacklisted-tags-disabled {
  color: #AAA !important;
}

a:visited {
  color: #FF761C;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #666;
  text-decoration: none;
}

a:active {
  color: #666;
  text-decoration: none;
}

a.last-page {
  color: #666;
}

li.flag-and-reason-count {
  list-style: none;
}

::selection { background: #ffcc89; color: #222; }
::-moz-selection { background: #ffcc89; color: #222; }

addr {
  display: block;
  margin-left: 2em;
  font-weight: bold;
}

dd { font-weight: bold; margin: 0 0 0 15px; padding: 0; display: block; }
dt { margin: 0; padding: 0; font-weight: bold; }

dt.bad {
  color: red;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 2.0em;
}

h2.wiki-title {
  color: #666;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

img.preview {
  padding:2px;
  margin:auto;
}

img.preview:hover {
  padding:0px;
  border:2px solid #DDD;
}

img.flagged {
  padding:0px;
  border:2px solid #F00;
}

img.favorited {
  box-shadow: 0 0 12px 2px gold;
}

img.has-children {
  padding:0px;
  border:2px solid #A7DF38;
}

img.has-parent {
  padding:0px;
  border:2px solid #CCCC00;
}

img.pending {
  padding:0px;
  border:2px solid #4B4BA3;
}

img.deleted {
  padding:0px;
  opacity:0.5;
  border:2px solid #F00;
}

input {
  padding: 0.2em 0.2em;
}

input, textarea, keygen, select, button, isindex {
  border: 2px solid #DDD;
  margin: 0.1em;
}

input[type=password]:focus {
  background: #FAFAFA;
}

input[type=text]:focus {
  background: #FAFAFA;
}

input[type="submit"] {
  border: 2px solid #DDD;
  font-weight: bold;
  padding: 0.2em 2em;
  margin: 0.1em;
  cursor:pointer;
}

input[type="button"] {
  border: 2px solid #DDD;
  font-weight: bold;
  padding: 0.2em 2em;
  margin: 0.1em;
  cursor:pointer;
}

tr input[type="button"] {
  min-width: 25%;
  font-weight: bold;
  margin: 0.1em;
  background-color: #EEE;
}

tr input[type="button"]:hover {
  color: #666;
}

tr input[type="submit"] {
  min-width: 25%;
  margin: 0.1em;
  background-color: #EEE;
}

input[type="button"]:hover {
  color: #666;
  background: #FAFAFA;
}

input[type="submit"]:hover {
  color: #666;
  background: #FAFAFA;
}

label {
  font-weight: bold;
  white-space: nowrap;
}

li, ol {
  margin-left: 1em;
}

p {
  margin-bottom: 1em;
}

span.author, span.date, span.post-count {
  color: #AAA;
}

span.locked-topic {
  color: #666;
}

span.informational {
  cursor: help;
}

span.thumb {
  height: 180px;
  width: 170px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
}

span.plid {
  display: none;
}

span.unread-topic {
  font-weight: bold;
}

strong.divider {
  font-weight: bold;
  color: gray;
}

/* Table elements */
table {
  margin-bottom: 1em;
  border: 2px solid #DDD;
}

table.form p {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

table.form th {
  color: black;
  white-space: normal;
  padding-right: 1em;
  text-align: right;
  background: #FAFAFA;
}

table.highlightable > tbody > tr:hover {
  background: #EEE;
}

table.highlightable th {
  color: #333;
}

table.highlightable td, table.highlightable th {
  margin: 0;
}

table thead {
  border-bottom: 2px solid #DDD;
  background: #FAFAFA;
  font-weight: bold;
}

table tfoot, table tbody tr:nth-child(even), table tr.highlight, textarea:focus {
  background: #FAFAFA;
}

table td {
  padding: 1px 4px;
  border: 1px solid #EAEAEA;
}

table th {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

table tbody tr {
  color: #666;
  font-weight: bold;
}

table tr.good {
  background: rgb(230, 255, 230);
}

table tr.selected {
  background: #ffcc89 !important; /* override highlightable */
}

table tr.pending-tag:nth-child(odd) {
  background: ghostwhite;
}

table tr.pending-tag:nth-child(even) {
  background: lavender;
}

[action^="/tag_"]:not([action*="translation"]) .highlightable td:nth-child(2) > a,[action^="/tag_"]:not([action*="translation"])  .highlightable td:nth-child(3) > a {
    word-break: break-all;
}

[action^="/tag_"]:not([action*="translation"]) .highlightable thead th:nth-of-type(2),[action^="/tag_"]:not([action*="translation"]) .highlightable thead th:nth-of-type(3) {
    width: 25%;
}

[action^="/tag_"]:not([action*="translation"]) .highlightable thead th:nth-of-type(5) {
    width: unset;
}

textarea {
  display: block;
  font-family: monospace;
  font-size: 1.2em;
}

textarea.no-block {
  display: inline;
}

ul {
  margin-bottom: 1em;
}

ul.bare-list li {
  list-style-type: none;
}

ul.flat-list {
  display: block;
  margin: 0;
  padding: 0;
}

ul.flat-list li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.flat-list li a {
  font-weight: normal;
}

ul.flat-list li a.forum-update {
  font-style: italic;
}

ul.link-page {
  font-size: 1.2em;
  font-weight: bold;
}

ul.link-page > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.obsolete-tag-change {
  color: #000;
}

/* onhover = 40% lighter */
.tag-type-artist > a, .tag-type-artist > .tag-extra-info > a { color: #A00; }
.tag-type-artist > a:hover, .tag-type-artist > .tag-extra-info > a:hover { color: #C66666; }

.tag-type-studio > a, .tag-type-studio > .tag-extra-info > a { color: #FF2DCD; }
.tag-type-studio > a:hover, .tag-type-studio > .tag-extra-info > a:hover { color: #FF93FF; }

.tag-type-character > a, .tag-type-character > .tag-extra-info > a { color: #0A0; }
.tag-type-character > a:hover, .tag-type-character > .tag-extra-info > a:hover { color: #66CC66; }

.tag-type-copyright > a, .tag-type-copyright > .tag-extra-info > a { color: #A0A; }
.tag-type-copyright > a:hover, .tag-type-copyright > .tag-extra-info > a:hover { color: #CC66CC; }

.tag-type-medium > a, .tag-type-medium > .tag-extra-info > a { color: #2585BB; }
.tag-type-medium > a:hover, .tag-type-medium > .tag-extra-info > a:hover { color: #7CB6D6; }

.tag-type-genre > a, .tag-type-genre > .tag-extra-info > a { color: #80461B; }
.tag-type-genre > a:hover, .tag-type-genre > .tag-extra-info > a:hover { color: #E6AC81; }

.tag-type-meta > a, .tag-type-meta > .tag-extra-info > a { color: #5C00FF; }
.tag-type-meta > a:hover, .tag-type-meta > .tag-extra-info > a:hover { color: #9D66FF; }

.tag-type-species > a, .tag-type-species > .tag-extra-info > a { color: #AAAA00; }
.tag-type-species > a:hover, .tag-type-species > .tag-extra-info > a:hover { color: #CCCC66; }

.tag-type-fashion > a, , .tag-type-fashion > .tag-extra-info > a { color: #FF0066; }
.tag-type-fashion > a:hover, .tag-type-fashion > .tag-extra-info > a:hover { color: #FF66CC; }

.tag-type-special_objects > a, , .tag-type-special_objects > .tag-extra-info > a { color: #4B0082; }
.tag-type-special_objects > a:hover, , .tag-type-special_objects > .tag-extra-info > a:hover { color: #B166E8; }

.tag-type-appearance > a, .tag-type-appearance > .tag-extra-info > a { color: #76EE00; }
.tag-type-appearance > a:hover, .tag-type-appearance > .tag-extra-info > a:hover { color: #DCFF66; }

.tag-type-operator a, .tag-type-operator > .tag-extra-info > a { color: #999; }
.tag-type-operator > a:hover, .tag-type-operator > .tag-extra-info > a:hover { color: #C2C2C2; }

.user-level-Unactivated > a { color: #3ED900; }
.user-level-Unactivated > a:hover { color: #A4FF66; }
.user-tooltip-badge-Unactivated { background: #3ED900; }

.user-level-Blocked > a { color: #92521D; }
.user-level-Blocked > a:hover { color: #F8B883; }
.user-tooltip-badge-Blocked { background: #92521D; }

.user-level-Member > a { color: #02A867; }
.user-level-Member > a:hover { color: #68FFCD; }
.user-tooltip-badge-Member { background: #02A867; }

.user-level-Privileged > a { color: #FF024B; }
.user-level-Privileged > a:hover { color: #FF68B1; }
.user-tooltip-badge-Privileged { background: #FF024B; }

.user-level-Contributor > a { color: #6494f1; }
.user-level-Contributor > a:hover { color: #97C7FF; }
.user-tooltip-badge-Contributor { background: #6494f1; }

.user-level-Janitor > a { color: #048eaf; }
.user-level-Janitor > a:hover { color: #37C1E2; }
.user-tooltip-badge-Janitor { background: #048eaf; }

.user-level-Mod > a { color: #e20258; }
.user-level-Mod > a:hover { color: #FF358B; }
.user-tooltip-badge-Mod { background: #e20258; }

.user-level-System_User > a { color: #9f21e5; }
.user-level-System_User > a:hover { color: #D254FF; }
.user-tooltip-badge-System_User { background: #9f21e5; }

.user-level-Admin > a { color: #e9161a; }
.user-level-Admin > a:hover { color: #FF494D; }
.user-tooltip-badge-Admin { background: #e9161a; }

.tag-count {
  color: #999;
}

.added-tags {
  color: #00CC00;
}

.removed-tags {
  color: #ff0000;
}

.unchanged-tags {
  font-size: 0.8em;
}

.added-tags { color: #00cc00; }
.removed-tags { color: #ff0000; }

.history-search-row {
  clear: left;
  margin:0;
  bottom: 0;
}

.history-search-label {
  width: 10%;
  float: left;
}

div#artist-index > table td {
  white-space: nowrap;
}

input#tags {
  border:2px solid #999;
  background: #FAFAFA;
  background-image: -moz-linear-gradient(#fff, #DDDDDD);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #DDDDDD),color-stop(1, #fff));
  -moz-border-radius: 35px;
  border-radius: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD;
  width: 182px;
  height: 20px;
  padding: 2px 8px;
  overflow: hidden; /* Clear floats */
}

input#tags:hover {
  background: #FAFAFA;
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input#tags:active {
  background: #FAFAFA;
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input#tags:focus {
  background: #FAFAFA;
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

div.auto_complete {
  width: 350px;
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #FAFAFA;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

div.blocked {
  border: 2px solid #F00;
  background: #FCC;
  color: #F00;
  font-size: 1.2em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

div#comment-list > div.post {
  float: left;
  clear: left;
  margin-bottom: 3em;;
}

div#comment-list > div.post > div.col1 {
  width: 200px;
  float: left;
  clear: left;
}

div#comment-list > div.post > div.col2 {
  float: left;
}

div#comment-list > div.post > div.col2 > div.header {
  margin-bottom: 1em;
  font-weight: bold;
  color: #666;
  width: 50em;
}

div#comment-list > div.post > div.col2 > div.header {
  color: #000;
}

div#comment-list > div.post > div.col2 > div.header > div > span.info {
  margin-right: 1em;
}

div#comment-list > div.post > div.col2 > div.header > div.tags > span {
  margin: 0 0.5em 0 0;
}

.no-comments {
  color: #666;
  font-size: 1.4em;
  font-weight: bold;
}

div#content {
  min-width: 960px;
  padding: 0 4px 30px 4px;
}

#post-list {
  width: 100%;
}

div.content {
  min-width: 700px;
  float: left;
  margin: 0;
  _margin-left: 120px;
  width: 75%;
}

div#footer {
  margin-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #CCC;
  clear: both;
}

div#footer > .footer-disabled {
  color: #777777;
}

div#footer > #label {
  color: #777777;
}

div#forum > table th:first-child {
  text-align: left;
}

div#forum > table td:first-child {
  text-align: left;
}

#forum {
  margin: 0 1em;
}
    
#forum .date a {
  color: #666;
  font-size: 0.8em;
}

#forum blockquote {
  color: #666;
  margin: 1em 0em 1em 1em;
}

#forum.response-list>div.comment>div.content {
  margin-left: 12em;
}  

#forum.response-list>div.comment {
  width: 60em;
  font-size: 1.25em;
}

#forum.response-list>div.comment>div.content>div.footer {
  font-size: 0.9em;
}

#forum.response-list>div.comment>div.content>div.footer a:hover {
  text-decoration:underline;
}

.forum-parent-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.forum-reference {
  float: left;
  width: 30em;
  margin-left: 1em;
}

#respond-link {
  font-size: 1.5em;
  margin: 1em;
}

div.has-mail {
  border: 2px solid #DDD;
  padding: 1em;
  margin: 1em;
  background: #FAFAFA;
  font-size: 1.5em;
  text-align: center;
}

div#header {
  margin-bottom: 1em;
  background: white;
  overflow: hidden;
  min-width: 940px;
}

div#headerlogo {
  max-height:140px;
}

div#header #site-title {
  padding: 10px 20px 0px 20px;
}

div#header ul#navbar li.lang-select {
  font-size: 90%;
  color: #666;
  padding-right: 82.5px;
}

#lang-sel {
  border: 1px solid #FF761C
}

div#header ul#navbar {
  padding: 5px 20px 2px 10px;
  margin-bottom: -1px;
}

div#header ul#navbar li {
  font-size: 130%;
  padding: 0 10px 2px 10px;
  margin: 0;
  border: 1px solid #FFFFFF;
  border-bottom: none;
}

div#header ul#navbar li a {
  font-weight: bold;
}

div#header ul#navbar li.current-page {
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  border-bottom: 2px solid #FAFAFA;
}

div#sp {
  margin-bottom:6px;
}

div#header ul#navbar li.current-page a {
  font-weight: bold;
}

div#header ul#subnavbar {
  padding: 5px 20px 5px 15px;
  background-color: #FAFAFA;
  margin: 0 0 1em 0;
  border: 1px solid #ddd;
}

div#header ul#subnavbar li {
  padding: 0 5px;
}

div#header ul#subnavbar li a {
  font-weight: bold;
}

div.help {
  width: 40em;
  margin-top: 2em;
}

div.help a.code {
  font-family: monospace;
}

div.help div.code {
  border: 1px dashed #FAFAFA;
  margin: 1em 0;
  padding: 1em 2em;
  background: #EEE;
  overflow: hidden;
  font-family: monospace;
}

div.help > div.section {
  margin-bottom: 4em;
}

div.help > div.section > div.section {
  margin-bottom: 2em;
}

div.help h1,
div.help h2,
div.help h3,
div.help h4 {
  margin: 0 0 0.5em 0;
}

div.help h4 {
  color: #000;
}

div#info {
  font-style: italic;
}

div.mail .received {
  color: #000;
}

div.mail .sent {
  color: #666;
}

div#mail-show div.message {
  margin-bottom: 4em;
}

div#notice {
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 20px;
}

div#notice.stick{
  z-index:10005;
  position:fixed;
  left:5px;
  top:5px;
  margin:5px;
  padding:5px 20px 5px 20px;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.page {
  width: 40em;
}

div#paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  clear: both;
}

div#paginator a {
  margin: 0 3px;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid #EAEAEA;
}

div#paginator a.arrow {
  border: none;
}

div#paginator a.arrow:hover {
  background: white;
  color: #9093FF;
}

div#paginator a.current {
  border: 1px solid #EAEAEA;
}

div#paginator a:hover {
  background: #999999;
  color: #333;
}

div#paginator span {
  margin: 0 3px;
  padding: 2px 6px;
}

div#post-add p#scale {
  color: #999;
  font-style: italic;
}

div#post-popular > h3 {
  text-align: center;
  margin-bottom: 1em;
}

div#post-view>div#right-col>div#note-info {
  margin: 0.5em 0em 0.5em 1em;
}

div#post-view > div#right-col > div > div#note-container {
  position: absolute;
  margin-left: 1em;
}

div#post-view > div#right-col > div > div#note-container > div.note-body {
  background: #FFE;
  border: 1px solid black;
  display: none;
  max-width: 300px;
  min-width: 140px;
  min-height: 10px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
  overflow: auto;
}

div#post-view > div#right-col > div > div#note-container > div.note-body > p.tn {
  font-size: 0.5em;
  color: gray;
}

div#post-view > div#right-col > div > div#note-container > div.note-box {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  cursor: move;
  background: #FFE;
}

div#post-view > div#right-col > div > div#note-container > div.note-box > div.note-corner {
  background: black;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved {
  background: #FFF;
  border: 1px solid red;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved > div.note-corner {
  background: red;
}

div#post-view > div#right-col > div > img {
  margin-right: 5em;
}

div#post-view > div#right-col > div#recommended {
  float: left;
  margin: 1em 0 1em 1em;
  overflow: hidden;
}

div#post-view > div#right-col > div#edit {
  float: left;
  margin: 1em 0 1em 1em;
  width:100%;
}

div#post-view > div#right-col > div#comments {
  float: left;
  margin: 1em 0 1em 1em;
  overflow: hidden;
}

div.quote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: #EEE;
}

div#related {
  margin: 0 3em 1em 0;
}

div#related > div.tag-column {
  float: left;
  margin: 0 2em 2em 0;
  max-width: 8em;
  height: 35em;
}

div#related > div.tag-column > a {
  margin-right: 1em;
}

div.response-list > div.comment {
  float: left;
  clear: left;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 2px solid #DDD;
  width: 60em;
}

div.response-list > div.comment > div.author {
  float: left;
  text-align: center;
}

div.response-list > div.comment > div.content {
  float: none;
  padding-left: 0em;
  margin-left: 10em;
  position: relative;
  min-width: 30em;
}

div.response-list > div.comment > div.content  .body.bad {
  color: #DDD;
}

div.response-list > div.comment > div.content  .body.bad a {
  color: #DDD;
}

div.response-list > div.comment > div.content > div.footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.comment > div.content > div.footer a {
  color: #666;
}

div.response-list > div.comment > div.content > div.footer a:hover {
  text-decoration: underline;
}

div.sidebar {
  border: 1px solid #DDD;
  width: 20%;
  padding-left: 1em;
  margin-right: 1em;
  float: left;
  word-wrap: break-word;
}

div.sidebar li {
  list-style-type: none;
  margin: 0;
}

a.original-file-changed#highres {
  color: #0030fa;
  font-weight: bold;
}

div#static-index {
  text-align: center;
}

div#static-index > div#links > a {
  margin: 0 0.5em;
}

div#static-more > div {
  float: left;
  width: 25%;
}

div#static-more > div > ul {
  margin-top: 2em;
}

div#static-more > div > ul > li {
  list-style-type: none;
  margin: 0;
}

kbd.key {
  background: #DDD;
  color: black;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 13px;
}

div#static-keyboard_shortcuts > div {
  float: left;
  width: 25%;
  font-size: 12.5px;
}

div#static-keyboard_shortcuts > div > ul {
  margin-top: 2em;
}

div#static-keyboard_shortcuts > div > ul > li {
  list-style-type: none;
  margin: 10px;
}

div.status-notice {
  border: 2px solid #DDD;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0em 1em 1em 1em;
  background: #FAFAFA;
  text-align: center;
}

div.status-notice.deleted {
  background:#FF0000;
  border:2px solid #A60000;
}

div.status-notice.pending {
  background:ghostwhite;
  border:2px solid lavender;
}

div.status-notice.flagged {
  background:#FF9973;
  border:2px solid #FF4500;
}

div.status-notice.appealed {
  background:#62599A;
  border:2px solid #2C1D85;
}

div.status-notice.locked {
  background:#808080;
  border:2px solid #532A2A;
}

div.status-notice p {
  margin: 0;
}

div#duplicate-preview {
  display: inline-block;
}

div#parent-preview {
  display: inline-block;
}

div#child-preview {
  display: inline-block;
}

div#tag-list {
  text-align: center;
  margin-bottom: 2em;
}

div#tag-list > a {
  padding-right: 5px;
}

div#upgrade-account {
  margin: 1em;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

div#upgrade-account a {
  color: black;
}

div#upgrade-account a#hide-upgrade-account-link {
  font-size: 0.8em;
  color: #CCC;
  display: block;
}

.user-show-preview {
  float: left;
  clear: both;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

div#user-record > table > tbody > tr.positive-record {
  background: #EFE;
}

div#user-record > table > tbody > tr.negative-record {
  background: #FEE;
}

#wiki-form {
  margin-left: 1em;
}

#wiki-table {
  margin-left: 1em;
}

#wiki_page_body {
  width: 33em;
}

.wiki-search {
  margin-bottom: 1em;
  margin-top: 0.25em;
}

.wiki-help {
  float: right;
}

.wiki-reference {
  float: right;
}

div.wiki > h2.title {
  color: #666;
  margin-bottom: 0.5em;
}

div#wiki-show > div#body {
  font-size: 1.25em;
  text-align: left;
  margin-left: 16.25em;
}

div#wiki-show > div#body ul {
  line-height: 1.2em;
  margin: 0 0 0 1em;
}

div#wiki-show > div#body > ul {
  margin-bottom: 1em;
}

div#wiki-show > div#body > div#byline {
  color: #666;
  font-style: italic;
}

div#wiki-diff > div#body {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 1em;
}

div#wiki-diff del {
  background-color: #f88;
  text-decoration: line-through;
}

div#wiki-diff ins {
  background-color: #8f8;
}

/* rating */
#rating {
  width: 170px;
}

.unit-rating {
  list-style:none;
  margin: 0px;
  padding: 0px;
  width: 170px;
  height: 34px;
  position: relative;
  background: url(//s.sankakucomplex.com/images/star_rating.png) left center repeat-x;
}

.unit-rating li {
  text-indent: -90000px;
  padding:0px;
  margin:0px;
  float: left;
}
.unit-rating li a {
  display:block;
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}
.unit-rating li a:hover {
  background: url(//s.sankakucomplex.com/images/star_rating.png) left bottom;
  z-index: 2;
  left: 0px;
}
.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:34px;}
.unit-rating a.r2-unit{left:34px;}
.unit-rating a.r2-unit:hover{width: 68px;}
.unit-rating a.r3-unit{left: 68px;}
.unit-rating a.r3-unit:hover{width: 102px;}
.unit-rating a.r4-unit{left: 102px;}
.unit-rating a.r4-unit:hover{width: 136px;}
.unit-rating a.r5-unit{left: 136px;}
.unit-rating a.r5-unit:hover{width: 170px;}

/* Current rating display */
.unit-rating li {
  background: url(//s.sankakucomplex.com/images/star_rating.png) left top;
  height: 34px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}
.unit-rating li.star-full { width: 34px; }
.unit-rating li.star-half { width: 17px; }
.unit-rating:hover li { background: none; }

.favoriteIcon{
  width:42px;
  height:42px;
  margin-left:64px;
  display:block;
  background-position:left top;
  cursor: pointer;
  background-image:url(//s.sankakucomplex.com/images/hearts.png);
}
.favoriteIcon:hover{
  background-position:left center;
}
.favoriteIcon.clicked{
  background-position:left bottom;
}
.favoriteIcon.clicked:hover{
  background-position:left center;
}
#add-to-favs, #remove-from-favs {
  background-image:url(//s.sankakucomplex.com/images/heartbg.png);
  background-repeat:no-repeat;
}

/* Similar Search */
#similar-image-form {
  clear: both;
  border-top: solid 1px #DDD;
  margin-left: 1em;
  padding-top: 0.5em;
}

#duplicate {
  float: left;
  padding: 8px 6px 4px;
  margin: 0 0 12px;
  border: solid 2px #666;
}

#lower-threshold a {
  font-size: 1.2em;
}

/* Popular preview */
#popular-preview {
  border: 1px solid #DDD;
  margin: 0 1em 2em 1em;
  text-align: center;
  background: url(//s.sankakucomplex.com/images/crown.png) center 0em no-repeat;
  background-size: 50px;
}

.popular-previews {
  display: inline-block;
}

#more-popular-link {
  float: right;
  font-size: 1.2em;
  margin: 0.4em 0 0.4em 0;
}

.popular-preview-post {
  width: 170px;
  display: inline-block;
  margin-top: 2em;
  vertical-align: top;
}

#popular-preview span.thumb {
  float: none;
  /*line-height: 180px;*/
  height: auto;
  padding: 0;
  margin: 0;
}

#popular-preview span.popular-rank {
  font-size: 2em;
  font-weight: bold;
  color: #AAA;
}

/* Autosuggest */
#autosuggest{
  position:absolute;
  display: none;
  width:26em;
  background:#fff;
  border:1px solid #DDD;
  z-index:10010;
}
#autosuggestPUPD{
  position:absolute;
  right:0px;
  bottom:100%;
  color:#aaa;
  font-size: 9px;
  background: inherit;
  border:inherit;
  font-style:normal;
}
#autosuggest div{
  font-style:italic;
  margin-left:5px;
}
#autosuggest span:first-child {
  width:19em;
  display:block;
  float:left;
  overflow:hidden;
  padding-top: 5px;
  color:#000;
}
#autosuggest span:nth-child(2) {
  width:5em;
  float:right;
  color:#aaa;
  padding-top: 5px;
}
#autosuggest br {
  clear:both;
}
#autosuggest li {
  list-style:none;
  padding:0;
  margin:0;
  padding:0 4px;
}
#autosuggest li:hover, #autosuggest li#focussedLi {
  background:#aaa;
  cursor:pointer;
}
#autosuggest li:hover span:nth-child(2), #autosuggest li#focussedLi span:nth-child(2) {
  color:#ddd;
}
.autosuggest, #post_tags{
  font-family: Meiryo,Hiragino Kaku Gothic Pro W3,Arial,Helvetica Neue,sans-serif;
  font-size: 100%;
}

#headerthumbs {overflow:hidden; height:136px; padding: 8px 0 0 0; min-width: 500px;}
#headerthumbs li {width:110px; float:left; margin: 0px; padding: 0px; list-style-type: none; font-weight:bold; font: 12px  Arial, Helvetica, Sans-Serif;}
#headerthumbs a {display:block; text-align:center; width:104px;}
#headerthumbs img {width: 100px; height: 100px; border: 1px solid #1F1E1B; padding:1px;}

#search-form {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#search-help {
  float: right;
  margin-right: 60px;
}

#locale {
  display: none;
}

#advanced_search {
  margin-bottom: 1em;
}

#advanced_search fieldset {
  border: none;
}

#tag-sidebar {
  overflow: hidden;
}

#mode-menu {
  margin-bottom: 1em;
}

#mode {
  width: 13em;
}

#quick-edit {
  margin-bottom: 1em;
}

#wiki-excerpt {
  overflow-x: hidden;
}

div.scad {
  width: 109%;
  margin: 0 0 0.5em 1em;
  overflow: hidden;
}

div.scad-i {
  width: 109%;
  margin: 0 0 0.5em 1em;
  overflow: hidden;
}

div#sticky {
  width: 20%;
}

div#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 243px;
  bottom: 0;
  overflow: auto;
}

div.content {
  position: absolute;
  padding-left: 226px;
}

div.sidebar {
  width: 212px;
  z-index: 10000;
  position: relative;
}

#non-image-content {
  margin-left: 1em;
}

.post-content-notification {
  font-weight: bold;
  font-size: 2em;
  color: #999;
  text-align: center;
}

#image {
  margin-left: 1em;
}

 a.no_lang {
  font-weight: normal;
 }

.in-place-editor {
  margin-bottom: 8px;
}
.in-place-edit-field {
  display: block;
}

.in-place-editor a {
  margin: 2px 4px 0 0;
}

#tag-sidebar a.editmode {
  cursor: text;
  text-decoration: underline;
  color: #00DF1E;
  display: inline-block;
}

#edit-form {
  width: 55em;
}

.ranking-list {
  width: 870px;
  margin-left: auto;
  margin-right :auto;
}

.ranking-list h1 {
  text-align: center;
  font-size: 2.1em;
}

.ranking-top-spot {
  background-image: url(//s.sankakucomplex.com/images/crown.png);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 8%;
  border: 5px solid #DDD;
  padding-top: 30px;
  margin-bottom: 14px;
  padding-top: 50px;
}

.ranking-item  {
  display: block;
  clear: both;
  border-bottom: 2px solid #DDD;
  padding-bottom: 4px;
  padding-top: 10px;
}

.ranking-item h2 {
  text-indent: 14px;
}

.ranking-item-more {
  font-size: 1.6em;
}

body.en .ranking-item-more {
  margin-left: 90%;
}

body.ja .ranking-item-more {
  margin-left: 85%;
}

.ranking-item span.thumb {
  height: 160px;
}

.ranking-quantity {
  color: #AAAAAA;
}

.ranking-thumbs {
  height: 160px;
  width: 860px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.subnavbar-option {
  color: #666;
}

.footer-ranking-options {
  text-align: center;
}

.avatar-large img {
  padding: 2px;
  border: 2px solid #DDD;
  width: 150px;
  height: 150px;
}

.avatar-medium img {
  padding: 1px;
  border: 2px solid #DDD;
  width: 100px;
  height: 100px;
}

.avatar-small img {
  padding: 1px;
  border: 1px solid #DDD;
  width: 50px;
  height: 50px;
}

.user-show-heading {
  margin-bottom: 1em;
}

.user-show-heading h2 {
  display: inline;
}

.user-home-heading img {
  float: left;
  margin: 0.5em 1em 100% 1em;
}

.subscription-title {
  font-size: 1.2em;
}

.subscription-title {
  font-size: 1.2em;
}

.tag-alias-header {
  margin-bottom: 1em;
}

.message-user {
  float: left;
  margin: 3em 1em 20% 1em;
  text-align: center;
  color: #666;
  font-weight: bold;
  clear: both;
}

.message-user a {
  font-size: 1.25em;
}

.message h5 {
  margin-bottom: 1em;
}

.message  {
  padding-left: 16em;
}

.message-body  {
  width: 50em;
}

#user-excerpt {
  text-align: center;
  padding-right: 1em;
}

#user-excerpt h5 {
  font-size: 1.25em;
}

#user-excerpt p {
  font-size: 0.95em;
  color: #666;
  font-weight: bold;
}

/* News ticker */
div#news-ticker {
  padding: 5px;
  background: #FAFAFA;
  border-bottom: 2px solid #999;
  overflow: hidden;
  font-size: 1.5em;
}

div#news-ticker ul {
  float: left;
  width:90%;
  margin: 0;
  padding: 0;
}

div#news-ticker li {
  list-style-type: none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
}

div#news-ticker a#close-news-ticker-link {
  float: right;
}

/* Navbar */
div#header ul#navbar li:hover {
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  border-bottom: 2px solid #FAFAFA;
}

div#header ul#navbar li:hover ul li:hover {
  border: 1px solid #FAFAFA;
  border-bottom: 2px solid #FAFAFA;
}

div#header ul#navbar {
  padding-left: 1em;
  position:relative;
}

div#header ul#subnavbar {
  padding: 0.5em 0em 0 1em;
  background-color: #FAFAFA;
  margin: 0 0 1em 0;
  border: 1px solid #ddd;
  height: 4em;
}

div#header ul#subnavbar {
  width: 100%;
}

div#header ul#navbar li>ul {
  display: none;
}

div#header ul#navbar li:hover>ul {
  display: block;
  position: absolute;
  background: #FAFAFA;
  height: 3.5em;
  width: 100%;
  font-size: 0.6em;
  padding-top: 0.5em;
  border-bottom: none;
  margin-top:0px;
  padding-bottom:18px;
}

div#header ul#navbar li:hover>ul {
  height: 4.0em
}

div#header ul#navbar li.lang-select:hover {
  background: none;
  border:0;
  border-left: 1px solid rgba(0,0,0,0);
}

/* Sharing & Recommendations */
#share {
  height:4em;
  margin-left:1em;
}

#recommendations-paginator {
  width: 100%;
  float:left
}

#recommendations-paginator>span.recommended-prev {
  font-size: 2.5em;
  float: left;
  margin: 0.1em 0.25em 0.1em 45%;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid rgb(234, 234, 234);
  color: #DDD;
}

#recommendations-paginator>span.recommended-next {
  font-size: 2.5em;
  float: left;
  margin: 0.1em 0 0.1em 0%;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid rgb(234, 234, 234);
  color: #DDD;
}

/* Theme Buttons */
div#header ul#navbar li.lang-select .theme-button-light {
    position: absolute;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-dark {
    position: absolute;
    margin-left: 32px;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-amoled {
    position: absolute;
    margin-left: 54px;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-selected {
    position: absolute;
    margin-top: 2px;
}

.theme-button-light, .theme-button-dark, .theme-button-amoled {
  cursor: pointer;
  margin-left: 10px;
  padding: 1.25px 1px 1.25px 1px;
  border: none;
}

.theme-button-selected {
  border: solid 0.5px #FF761C;
}

/* DText Items */
/* DText - Quote */
blockquote {
  color: #000;
  border-left: 2px #FF761C solid;
  border-radius: 5px;
  padding-left: 7.5px;
  padding-bottom: 0.15px;
  padding-top: 5px;
  margin-left: 12.5px;
  border-radius: 5px;
  background: #DDD;
}

/* DText - Spoilers */
a.spoiler {
  color: black;
  background: black;
  cursor: text;
}

a.spoiler:hover {
  color: white;
}

div.spoiler > p {
  display: inline-block;
  background-color: #EEE;
  color: #EEE;
}

div.spoiler > p:hover {
color: black;
}

div.spoiler > p > a  {
  color: #EEE;
}

div.spoiler > p:hover > a {
  color: #FF761C;
}

/* DText - Code */
code {
  font-family: monospace;
  font-size: 1.2em;
}

/* DText - Misc */
p.center {
  text-align: center;
}
p.tn {
  font-size: 0.5em;
}

/* Video thumbnail icons */
.video-icon::before {
  content: "▶";
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: #FF761C;
  background: rgba(0,0,0,.5);
  margin: 2px;
}

.sound-icon::before {
  content: "🔊";
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: transparent;  
  text-shadow: 0 0 0 #FF761C;
  background: rgba(0,0,0,.5);
  margin: 2px;
}

/* DText formatting helper */
.preformat {
  cursor: pointer;
  height: 27.125px;
  width: 30.125px;
  padding: 0px;
  border: 0.5px solid #FF761C;
  border-radius: 3px;
  background-color: #DDD;
  margin-top: 3px;
}

.preformat:hover {
  background-color: #EEE;
}

#preformatted {
  border: 2px solid #FF761C;
  border-radius: 3px;
  width: 402.5px;
}

.preformat-row {
  padding-left: 10px;
}
